functional programming.
print even numbers

In [2]:
def printEven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        if(cnt%2==0):
            sum=sum+cnt
        cnt=cnt+1
    return sum
        
print(printEven(20))

90

factors list of a given number
test cases:
         12 ---- 1 2 3 4

In [7]:
def factorslist(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end=" ");
        i=i+1;
    return;

factorslist(12);

1 2 3 4 6

## list in python

list can be written in python with square brackets and each item in the list separeted by comma operator

list can be anything -- int,char,float and string


### example 1:

list1= [1,2,3,4,5];

list2=["a","b","c","d"]

In [9]:
list1= [1,2,3,4,5]
#Entire list
print(list1)
#list[0]
print(list1[0])

[1, 2, 3, 4, 5]
1

### for loop

syntax:-
        
        for <variableName> in <seq>:
                  <statements>

In [11]:
list2= ["sravani","medha","ruchitha","rhea"]
for x in list2:
    print(x,end=" ")

sravani medha ruchitha rhea

In [17]:
# list example with particular index
list1 =[1,2,3,4,5,6,7]
for x in list1:
    print(x,end=" ")
    
print()
print(list1[4])
print(list1[3:7])
print(list1[0:3])
print(list1[:3])
print(list1[:7])

1 2 3 4 5 6 7
5
[4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

In [31]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for x in list1:
    print(x,end=" ")
    
    
print()
print(list1[1:-1])
print( list1[2:-2])
print(list1[::2])
print(list1[::3])
print(list1[::4])
print(list1[::-2])
print(list1[::-1])
print(list1[-1])
print(list1[-2])

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[10, 8, 6, 4, 2]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
10
9

In [35]:
list1=["medha","ruchi","riya",1]
print(list1)
list1[2]=15 # update the list item
print(list1)
del list1[3] # delete the list item
print(list1)
list1[1]="Gitam"
print(list1)
list2=[1,2,3]
print(list2)
print(list1+list2) #concatination of both the lists

['medha', 'ruchi', 'riya', 1]
['medha', 'ruchi', 15, 1]
['medha', 'ruchi', 15]
['medha', 'Gitam', 15]
[1, 2, 3]
['medha', 'Gitam', 15, 1, 2, 3]

## list method:

###  append(obj)

the method appends

In [44]:
list1 = [1,2,3,4,5]
print(list1)
del list1[2]
print(list1)
#list1[4]=15
print(len(list1))
list1.append(15)
list1.append(150)
list1.append(1)
list1.append(3)
list1.append(1)
print(list1)
print(list1.count(1))
print(list1.count(3))

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 15, 150, 1, 3, 1]
3
1

### list methods

### index(obj)

its returns the index of passed object first occurance from the left side.

###insert(index,obj)

the  insert insertes the passed obj at certain index.

In [53]:
list1 = ["Gitam","python","raptor",1,5,"python","python"]
print(list1)
list1.index("python")#Finding the index of object in the list
list1.index(1)
print(len(list1))
list1.insert(2,2019)
print(list1)
print(len(list1))
list1.insert(4,2020)
print(list1)

['Gitam', 'python', 'raptor', 1, 5, 'python', 'python']
7
['Gitam', 'python', 2019, 'raptor', 1, 5, 'python', 'python']
8
['Gitam', 'python', 2019, 'raptor', 2020, 1, 5, 'python', 'python']

## list methods

### remove(obj)

the remove method removes the passed object from the first occurance from left direction

#### reverse()

the reverse() reverse objects of the list

In [57]:
list1=["Gitam","python","raptor",1,5,"python","python"]
print(list1)
list1.remove("python")
print(list1)
list1.remove("python")
print(list1)

list1.reverse()
print(list1)

['Gitam', 'python', 'raptor', 1, 5, 'python', 'python']
['Gitam', 'raptor', 1, 5, 'python', 'python']
['Gitam', 'raptor', 1, 5, 'python']
['python', 5, 1, 'raptor', 'Gitam']

### list with range() function

range(number):

0 to number

## data structures

 ###searching the data 
 
 linear search

In [65]:
def linearSearch(a,tarItem):
    flag=0
    for i in range(len(a)):
        if a[i]==tarItem:
            flag=1
            break
    if(flag!=0):
        print("target item is found")
    else:
        print("target item is not found")
        
a=[16,2,12,6,9,7,1]
linearSearch(a,61)

target item is not found

In [71]:
def linearsearchduplicate(a,tarItem):
    flag=0
    for i in range(len(a)):
        if a[i]==tarItem:
            flag=flag+1
            
    print("flag")
    
a=[9,1,6,1,5,9,15,16]
linearsearchduplicate(a,9)

flag

linear search examples

## example1:

input:list
output:indexes of target item

test cases:[1,5,9,5,15,12,5] --- 147

In [77]:
def linearexample1(a,taritem):
    for i in range(len(a)):
        if a[i]==taritem:
            print(i,end=" ")
    
    
a=[1,5,9,6,5,15,12,5]
linearexample1(a,5) # 147

1 4 7

### linear search example 2

input:list

output:a seq of characters 

test cases:
[1,5,9,6,5,15,12,5]tar =5---!!!!!!

In [86]:
def linearexample2(a,taritem):
    for i in range(len(a)):
        if a[i]==taritem:
            j=0
            while j!=i+1:
                print("!",end=" ")
                j=j+1
            print(end=" ")
    
    
a = [1,5,9,6,5,15,12,5]
linearexample2(a,5)

! !  ! ! ! ! !  ! ! ! ! ! ! ! !

In [88]:
def linearformattedoutput(a):
    for i in range(len(a)):
        if i==0 or (i==len(a) -1):
            print(a[i],end=" ")
        elif a[i-1]%2==0 and a[i+1]%2==0:
            print(a[i],end =" ")
            
a=[1,6,9,4,16,19,22]
linearformattedoutput(a)

1 9 19 22

In [ ]:
def numbertolistconversion(n):